// general scss for entire app

ion-content.core {
    scroll-content {
        overflow-y: hidden;
    }
}

ion-menu {
    ion-content    { 
        scroll-content, ion-list .item {
            background: map-get($colors, darkest-gray);
            cursor: pointer;
        }
        ion-list .item-inner, ion-list .item:last-child {
            border-bottom: 0;
        }
    }
}
