// general scss for entire app

ion-content.browser {
    scroll-content {
        overflow-y: hidden;
        
    }
}

ion-menu {
    ion-content    { 
        scroll-content, .menu-item {
            background: map-get($colors, darkest-gray);
        }
        .menu-item {
            cursor: pointer;
        }
    }
}
