/* 
 * record.scss 
 */

p.item-label {
    margin-bottom: 0.2em;
    color: map-get($colors, medium-gray);
}

.recording-time {
    text-align: center;
    font-size: 2.3em;
    padding-bottom: 0.4em;
    color: map-get($colors, light);
}

div.record-upload-buttons {
    text-align: center; // center-justify the two buttons in the page
    button:first-child {
        border-radius: 50%;
    }
    button {
        font-size: 1.3em;
        width: 5.8em;
        height: 5.8em;
    }
}
