$button-font-size: 1.3em;
$button-width: 5.8em;
$button-height: $button-width;

.recording-time {
    text-align: center;
    font-size: 2.3em;
}


div.record-upload-buttons {
    text-align: center; // center-justify the two buttons in the page
    button.record-button {
         border-radius: 50%;
    }
    button {
        font-size: $button-font-size;
        width: $button-width;
        height: $button-height;
    }
}
